/** Подключение шрифтов */

/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto'),
    url('../assets/fonts/roboto-v29-latin_cyrillic-300.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../assets/fonts/roboto-v29-latin_cyrillic-300.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto-Bold'),
    url('../assets/fonts/roboto-v29-latin_cyrillic-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../assets/fonts/roboto-v29-latin_cyrillic-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ------------------------------- */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 320px;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  line-height: 1.3;
  font-weight: 300;
  color: #212121;
  background-color: #fff;
}

.main {
  flex: 1 1 auto;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input {
  font: inherit;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
  padding: 0;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.container,
[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.hide {
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  margin: 0;
  border: none;
  height: 1px;
  width: 1px;
  overflow: hidden;
  font-size: 1px;
}

/***************************************************/

@media (max-width: 559.98px) {

  .container,
  [class*="__container"] {
    padding: 0 15px;
  }
}